@import "header.css";

.detail-container {
  width: 80vw;
  margin-bottom: 8vh;
}

.detail-container strong {
  margin-bottom: 2vh;
}

.detail-container p {
  margin-bottom: 1rem;
}

a[href^="tel"] {
  color: inherit; /* Inherit text color of parent element. */
  text-decoration: none; /* Remove underline. */
  /* Additional css `propery: value;` pairs here */
}

.reservation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 8vh;
  border: 2px solid black;
  border-radius: 30px;
}

.reservation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 5rem;
}

.section {
  font-family: Suisse Intl, Noto Sans KR, sans-serif;
  width: 80vw;
  scroll-snap-type: y mandatory;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 14vh;
  border-bottom: 2px solid black;
}

.section-container {
  margin-bottom: 0;
}

div {
  scroll-snap-align: start;
}

.content-container {
  width: 100%;
  display: flex;
}

.title {
  display: flex;
  width: 30vw;
  font-size: 3vw;
  margin-right: 2vw;
}

.description {
  width: 50vw;
  font-size: 1.65vw;
  text-align: justify;
  margin-bottom: 13rem;
}

.section:first-child .content-container .description {
  margin-bottom: 8rem;
}

.description:after {
  width: 100%;
}

.img-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 85%;
  margin-bottom: 30vh;
}

.img-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-container div img {
  width: 30vw;
  margin-bottom: 13vh;
}

.img-container div p {
  font-size: 1.3vw;
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 769px) {
  .detail-container {
    width: 90vw;
  }

  .reservation {
    width: 30vw;
    border: 1.5px solid black;
    font-weight: bold;
  }

  .reservation-container {
    font-size: 2.8vw;
  }

  .section {
    margin-bottom: 10vh;
    width: 90vw;
    border-bottom: 1.5px solid black;
  }

  .section:first-child .content-container {
    margin-bottom: 15vh;
  }

  .content-container {
    display: block;
    margin-bottom: 8vh;
  }

  .title,
  .description {
    display: inline;
  }

  .title {
    margin-right: 2vw;
    line-height: 6vw;
    font-size: 6vw;
  }

  .description {
    font-size: calc(13px + 0.9vw);
    margin-bottom: 8vh;
  }

  .img-container {
    display: flex;
    margin-bottom: 10vh;
    flex-direction: column;
  }

  .img-container div {
    margin-bottom: 30px;
  }

  .img-container div img {
    width: 70vw;
    margin-bottom: 10px;
  }

  .img-container div p {
    position: relative;
    font-size: 10px;
  }
}
